#mainpopup {
    z-index: 99;
    width: 50%;
    background-color: white;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* #popup p, #popup h2{
    color: white;
} */

#mainpopup_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
}

.darken_background {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

#mainpopup .cross {
    filter: brightness(0);
}

.cross:hover {
    filter: none !important;
}