.adminForm{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-top: 25%;
    height: 50vh;
  }

.adminForm label{
    margin: 1%;
}

.adminForm button{
    margin: 1%;
}

.adminForm input{
    margin: 1%;
}

.inputFichier {
    padding: 8%;
}
  