.App {
  text-align: center;
  display: flex;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

#graph-id-graph-wrapper {
  width:45%;
}