.App {
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
}

.displayDoc {
  grid-template-columns: 40vw auto !important;
  grid-template-rows: 100vh !important;
}

.Graph{
  /* height : 100vh;
  width: 100vw; */
  grid-column: 1 / 2;
} 

#id-graph-wrapper svg {
  height: 100vh;
  width: 100vw;
  transition: opacity 2s;
} 

/* when loading, waiting for final d3 position, set opacity to 0 */
.Graph.initializing #id-graph-wrapper svg {
  opacity: 0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


#loading {
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}