.visible{
    /* transition: 0.8s; */
    /* background-color : rgb(255, 222, 149);
    box-shadow: 0px 0px 10px rgba(255, 204, 64, 0.671); */
    /* border-radius : 50%;
    padding: 20%; 
    margin: 30%; */
    animation: appear 2s;
    width: 100%;
    position: relative;
}

.invisible{
    /* transition: 0.8s; */
    background-color: rgb(174, 251, 255);
    box-shadow: 0px 0px 10px rgba(114, 172, 247, 0.5);
    /* border-radius : 50%;
    padding: 20%; 
    margin: 30%; */
} 

.invisibleVisited{
    /* transition: 0.8s; */
    background-color: rgb(89, 93, 114);
    /* border-radius : 50%;
    padding: 20%; 
    margin: 30%; */
}

.invisible, .invisibleVisited {
    transition: 0.8s;
}

.invisible, .invisibleVisited, .highlighted, .visible {
    border-radius : 50%;
    padding: 10%; 
    margin: 40%;
}

.fadeOut{
    opacity: 0;
    transition: opacity 1s;
}

.icons{
    /* width: 10vw; */
    /* height: 7vh; */
    position: relative;
    /* left: -7vw;
    top: -3vh; */
    left: -50%;
    top: -10px;
    width: 20%;
    filter: brightness(100);
}

.visited {
    filter: grayscale(100) brightness(0.5) !important;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}