.document > *, .sub_docs > * {
  width: 100%;
  max-height: 80vh;
}

.souvenir {
  /* background-color: rgb(40, 40, 40); */
  box-shadow: 0 0 8px 8px white inset;
  /* color: white; */
  align-items: center;
  box-shadow: 10px 0px 10px rgb(30, 30, 30);
  /* overflow: auto; */
  grid-column: 2 / 3;
  padding: 50px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

#memory_info {
  overflow: auto;
  height: 100vh;
  display: grid;
  grid-template-areas: 
    "date contributor"
    "document document";
  grid-template-rows: 1em auto;
}

#memory_info > *, .buttons {
  margin-right: 40px;
}

#date {
  grid-area: date;
  display: flex;
  justify-content: flex-start;
}

#contributor {
  grid-area: contributor;
  display: flex;
  justify-content: flex-end;
}

#date p, #contributor p {
  margin: 0;
}

.buttons {
  bottom: 0;
  display: flex;
  /* max-height: 100px; */
  width: 100%;
}

.trail_img > img {
  width: 80px;
}

.trail_img {
  display: flex;
  flex-direction: column;
}

.arrowbutton_img {
  width: 40px;
  height: 40px;
}

.souvenir p {
  text-align: center;
  text-align: justify;
}

.document p {
  text-indent: 10%;
}

.souvenir h1 {
  text-transform: capitalize;
  /* color: white; */
  margin-bottom: 0;
}
.document {
  grid-area: document;
  /* width: 60%; */
}

.document * {
  margin-top: 20px;
}

#cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.sub_docs {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

audio {
  outline: none;
}

.button {
  display: flex;
  align-items: center;
}

.all_previous, .all_next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.next {
  justify-content: flex-start;
}
.previous {
  justify-content: flex-end;
}
