.souvenir img {
  max-width: 80%;
  max-height: 80vh;
}
.souvenir {
  position: absolute;
  display: flex;
  /* width: 100%; */
  width: 60%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgb(40, 40, 40);
  color: white;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: 10px 0px 10px rgb(30, 30, 30);
}

.souvenir p {
  text-align: center;
  text-align: justify;
  text-indent: 10%;
  margin-left: auto;
  margin-right: auto;
}

.souvenir h1 {
  text-transform: capitalize;
  color: white;
}
.document {
  width: 60%;
}

#cross {
  width: 2vw;
  height: 2hv;
  position: absolute;
  top: 3vh;
  right: 2vw;
}

.sub_docs {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.sub_docs * {
  padding: 10px;
  margin: auto;
}

audio {
  outline: none;
  padding-top: 2vh;
}

.previous {
  justify-content: flex-start;
}

.next {
  justify-content: flex-end;
}

.button {
  display: flex;
  height: 9vh;
}

.buttons {
  width: 20%;
}
