.souvenir img{
    max-width: 80%;
    max-height: 800px;
}

.souvenir h1{
    text-transform: capitalize;
}

.souvenir p{
    max-width:500px;
    font-size: 0.8em;
    text-align: justify;
}

button{
    border:none;
    text-transform: uppercase;
    background:rgba(255, 255, 255, 0.2);
    color: white;
    cursor:pointer;
    margin: 1rem;
    padding:.25rem .75rem;
    transition:all .25s ease-in-out;
    border-radius: 1rem;
}

button:hover, button:hover{
    background:rgba(255, 255, 255, 1);
    color: black;
    transform: scale(1.1);

}