.docNavigation {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-areas: "prevText docButton nextText";
    grid-template-columns:  1fr auto 1fr;
}
.buttontext-previous {
    grid-area: prevText;
    margin: 0 0.6em 0 0 !important;
    text-align: right !important;
    color:rgb(255, 98, 242) !important;
}
.buttontext-next {
    grid-area: nextText;
    margin: 0 0 0 0.6em;
    text-align: left !important;
    color:rgb(255, 98, 242) !important;
}

.docbuttons {
    grid-area: docButton;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas: 
    ". nextOther ."
    "prevCurrent centerButton nextCurrent"
    ". prevOther .";
}
.arrowbutton_img {
    width: auto;
    height: 25px;
    filter: grayscale(100%) brightness(0.2);
    padding: 5px;
}
#trail_img {
    filter: grayscale(100%) brightness(1);
    max-width: 60px;
    max-height: 60px;
}

/**.next, .previous {
    height: fit-content;
}**/
.button-current.previous {
    grid-area: prevCurrent;
    display: flex;
    align-items: center;
}
.button-current.next {
    grid-area: nextCurrent;
    display: flex;
    align-items: center;
}
.button-current.next img {
    transform: rotate(180deg);
    height: 40px;
}
.button.previous {
    grid-area: prevOther;
}
.button.previous img {
    transform: rotate(-90deg) translateX(5px);
}
.button.next {
    grid-area: nextOther;
    display: flex;
    justify-content: center;
}
.button.next img {
    transform: rotate(90deg) translateX(5px);
}
.arrowbutton_img:hover {
    filter: hue-rotate(104deg);
    cursor: pointer;
}


.centerButton {
    grid-area: centerButton;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
