.message {
    grid-column: 2/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.exitButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10vw;
}

/* BUTTONS */
.exitChoice {
    background-color: rgb(43, 43, 43);
    width: 100px;
    margin: 10px;
    padding: 5px;
}
.exitChoice:hover {
    background-color: rgb(57,234,234);
    cursor: pointer;
}

/* FONT */
.exitButtons p {
    margin: 0;
    color: white;
}
.button_subname {
    font-size: 0.5em;
}
.button_name {
    font-family: 'Bree Serif', serif;
}