.notInParcours {
    /* opacity: 0.2 !important;  */
    filter: blur(8px) !important; 
}

.inParcours {
    opacity: 1 !important;
    filter: drop-shadow(0px 0px 10px #4444dd);
    stroke: #4444dd !important;
}

.node {
    background-color: green;
    height: auto;
    width : 600px;
}

.currentNode {
    filter: drop-shadow(0px 0px 10px #db2e8b);
}